@font-face {
    font-family: NunitoSans;
    src: url("/Cortes/NunitoSans/NunitoSans-Regular.ttf");
  }

  .selected {
    background-color: rgb(197, 197, 197);
  }
  
  .notSelected:hover {
    background-color: lemonchiffon;
  }
  
  .notSelected {
    background-color: transparent;
  }
